<header class="header-inner">

  <div class="header-left">
    <a href="/en/index.html">
      <img src="/img/logo_dark.png" class="logo logo-dark">
      <img src="/img/logo_white.png" class="logo logo-white">
    </a>


    <!-- Main Menu -->
    <ul class="main-menu">
      <li>
        <a href="#">Who we are</a>
        <ul class="submenu">
          <li><a href="/en/sub/company/overview.html">About Us</a></li>
          <li><a href="/en/sub/company/history.html">Our History</a></li>
          <li><a href="/en/sub/company/location.html">Locations</a></li>
        </ul>
      </li>

      <li>
        <a href="#">What we do</a>
        <ul class="submenu">
          <li><a href="/en/sub/products/sub-towed.html">Towed Underwater Cables</a></li>
          <li><a href="/en/sub/products/sub-fixed.html">Fixed Underwater Cables</a></li>
          <li><a href="/en/sub/products/sub-connector.html">Underwater Connectors</a></li>
          <li><a href="/en/sub/products/sub-custom.html">Custom Cables</a></li>
        </ul>
      </li>

      <li>
        <a href="#">Media Center</a>
        <ul class="submenu">
          <li><a href="/en/sub/pr/notice/index.html">Notices</a></li>
          <li><a href="/en/sub/pr/newsroom/index.html">Newsroom</a></li>
          <li><a href="/en/sub/pr/gallery/index.html">Gallery</a></li>
          <li><a href="/en/sub/pr/certification/index.html">Certifications & Patents</a></li>
          <li><a href="/en/sub/pr/catalog/index.html">Catalogs</a></li>
        </ul>
      </li>

      <li>
        <a href="#">Support</a>
        <ul class="submenu">
          <li><a href="/en/sub/support/inquiry/index.html">1:1 Inquiry</a></li>
          <li><a href="/en/sub/support/downloads/index.html">Downloads</a></li>
          <li><a href="/en/sub/support/Technical_support/index.html">Technical Support</a></li>
        </ul>
      </li>
    </ul>

  </div>

  <div class="header-right">

    <!-- Language Selector -->
    <div class="language-dropdown">
      <button class="lang-toggle">ENG</button>
      <ul class="lang-list">
        <li><a href="#" data-lang="kr">KOR</a></li>
        <li><a href="#" data-lang="en">ENG</a></li>
      </ul>
    </div>

  </div>

</header>
