    <footer>
        <div class="footer-container">
          <!-- 왼쪽: 로고 + 회사소개 -->
          <div class="footer-left">
            <div class="footer-links">
              <a href="/kr/sub/company/overview.html">회사소개</a>
              <a href="/kr/sub/privacy/privacy.html">개인정보취급방침</a>
              <a href="/kr/sub/support/inquiry/index.html">1:1 문의</a>
              <a href="/kr/sub/support/downloads/index.html">다운로드 센터</a>

              <!-- Admin Login -->
              <a href="/kr/admin/login.html"
                style="
                  margin-top: 30px;
                  display: inline-block;
                  font-size: 10px;
                  color: #111;
                  opacity: 0.15;
                  text-decoration: none;
                "
              >●</a>

            </div>
          </div>

          <!-- 가운데: 회사정보 -->
          <div class="footer-info">
            <p><strong>주식회사 화인디펜스 (FINE DEFENSE INC.)</strong></p>
            <p class="spacer"></p> <!-- 여기에 클래스 지정 -->
            <p>주소: 경기도 안양시 동안구 학의로 250, 902호 (관양동, 관양두산벤처다임)</p>
            <p>전화: 031-8068-6103 | 팩스: 070-4325-6116</p>
            <p>대표메일: finedefense@finedefense.co.kr</p>
            <p>옥천1공장: 충청북도 옥천군 이원면 이원농공로 48</p>
            <p>옥천2공장: 충청북도 옥천군 동이면 평산길 183</p>
          </div>

          <!-- 오른쪽: 패밀리사이트 -->
          <div class="footer-right">
            <p class="family-title">FAMILY COMPANY ▼</p>
            <ul class="family-links">
              <li><a href="https://www.fine-tec.com/">화인</a></li>
              <li><a href="http://www.woobangcable.co.kr/home/main.php">우방전선</a></li>
            </ul>
          </div>

          <div class="footer-copy">
            &copy; 2026 FINE DEFENSE INC. All Rights Reserved.
          </div>
        </div>

    </footer>