<header class="header-inner">

  <div class="header-left">
    <a href="/kr/index.html">
      <img src="/img/logo_dark.png" class="logo logo-dark">
      <img src="/img/logo_white.png" class="logo logo-white">
    </a>

    <!-- 메인메뉴 -->
    <ul class="main-menu">
      <li>
        <a href="#">회사소개</a>
        <ul class="submenu">
          <li><a href="/kr/sub/company/overview.html">기업소개</a></li>
          <li><a href="/kr/sub/company/history.html">주요연혁</a></li>
          <li><a href="/kr/sub/company/location.html">사업장</a></li>
        </ul>
      </li>

      <li>
        <a href="#">제품소개</a>
        <ul class="submenu">
          <li><a href="/kr/sub/products/sub-towed.html">수중이동형케이블</a></li>
          <li><a href="/kr/sub/products/sub-fixed.html">수중고정형케이블</a></li>
          <li><a href="/kr/sub/products/sub-connector.html">수중커넥터</a></li>
          <li><a href="/kr/sub/products/sub-custom.html">커스텀케이블</a></li>
        </ul>
      </li>

      <li>
        <a href="#">홍보센터</a>
        <ul class="submenu">
          <li><a href="/kr/sub/pr/notice/index.html">공지사항</a></li>
          <li><a href="/kr/sub/pr/newsroom/index.html">뉴스룸</a></li>
          <li><a href="/kr/sub/pr/gallery/index.html">갤러리</a></li>
          <li><a href="/kr/sub/pr/certification/index.html">인증 및 특허</a></li>
          <li><a href="/kr/sub/pr/catalog/index.html">카탈로그</a></li>
        </ul>
      </li>

      <li>
        <a href="#">고객지원</a>
        <ul class="submenu">
          <li><a href="/kr/sub/support/inquiry/index.html">1:1 문의</a></li>
          <!--  <li><a href="/kr/sub/support/downloads/index.html">자료실</a></li>  -->
          <li><a href="/kr/sub/support/Technical_support/index.html">기술지원</a></li>
        </ul>
      </li>
    </ul>

  </div>

  <div class="header-right">

    <!-- 언어 선택 -->
    <div class="language-dropdown">
      <button class="lang-toggle">KOR</button>
      <ul class="lang-list">
        <li><a data-lang="kr">KOR</a></li>
        <li><a data-lang="en">ENG</a></li>
      </ul>
    </div>

  </div>

</header>
