<header class="header-inner">

  <div class="header-left">
    <a href="/kr/index.html" class="logo-wrap">
      <img src="/img/logo_dark.png" class="logo logo-dark">
      <img src="/img/logo_white.png" class="logo logo-white">
    </a>
  </div>

  <nav class="pc-nav">
    <ul class="pc-menu">
      <li>
        <a href="#">회사소개</a>
        <ul class="submenu">
          <li><a href="/kr/sub/company/overview.html">기업개요</a></li>
          <li><a href="/kr/sub/company/ceo.html">CEO 인사말</a></li>
          <li><a href="/kr/sub/company/history.html">연혁</a></li>
          <li><a href="/kr/sub/company/vision.html">기업이념 및 비전</a></li>
          <li><a href="/kr/sub/company/organization.html">조직도</a></li>
          <li><a href="/kr/sub/company/location.html">찾아오시는 길</a></li>
        </ul>
      </li>

      <li>
        <a href="#">제품소개</a>
        <ul class="submenu">
          <li><a href="/kr/sub/products/sub-towed.html">수중이동형케이블</a></li>
          <li><a href="/kr/sub/products/sub-fixed.html">수중고정형케이블</a></li>
          <li><a href="/kr/sub/products/sub-connector.html">수중커넥터</a></li>
          <li><a href="/kr/sub/products/sub-custom.html">커스텀케이블</a></li>
        </ul>
      </li>

      <li>
        <a href="#">홍보센터</a>
        <ul class="submenu">
          <li><a href="/kr/sub/pr/notice/index.html">공지사항</a></li>
          <li><a href="/kr/sub/pr/newsroom/index.html">뉴스룸</a></li>
          <li><a href="/kr/sub/pr/gallery/index.html">갤러리</a></li>
          <li><a href="/kr/sub/pr/certification/index.html">인증 및 특허</a></li>
          <li><a href="/kr/sub/pr/catalog/index.html">카탈로그</a></li>
        </ul>
      </li>

      <li>
        <a href="#">고객지원</a>
        <ul class="submenu">
          <li><a href="/kr/sub/support/inquiry/index.html">1:1 문의</a></li>
          <li><a href="/kr/sub/support/downloads/index.html">자료실</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <div class="header-right">
    <div class="language-dropdown">
      <button class="lang-toggle">KOR</button>
      <ul class="lang-list">
        <li><a data-lang="kr">KOR</a></li>
        <li><a data-lang="en">ENG</a></li>
      </ul>
    </div>

    <button class="mobile-menu-btn" id="mobileMenuBtn">
      <span></span><span></span><span></span>
    </button>
  </div>

</header>

<!-- MOBILE OVERLAY -->
<div class="mobile-overlay" id="mobileOverlay">
  <div class="mobile-overlay-inner">

    <button class="mobile-close-btn">×</button>

    <ul class="mobile-menu">
      <li>
        <button class="m-item">회사소개</button>
        <ul class="m-sub">
          <li><a href="/kr/sub/company/overview.html">기업개요</a></li>
          <li><a href="/kr/sub/company/ceo.html">CEO 인사말</a></li>
          <li><a href="/kr/sub/company/history.html">연혁</a></li>
          <li><a href="/kr/sub/company/vision.html">기업이념 및 비전</a></li>
          <li><a href="/kr/sub/company/organization.html">조직도</a></li>
          <li><a href="/kr/sub/company/location.html">찾아오시는 길</a></li>
        </ul>
      </li>

      <li>
        <button class="m-item">제품소개</button>
        <ul class="m-sub">
          <li><a href="/kr/sub/products/sub-towed.html">수중이동형케이블</a></li>
          <li><a href="/kr/sub/products/sub-fixed.html">수중고정형케이블</a></li>
          <li><a href="/kr/sub/products/sub-connector.html">수중커넥터</a></li>
          <li><a href="/kr/sub/products/sub-custom.html">커스텀케이블</a></li>
        </ul>
      </li>

      <li>
        <button class="m-item">홍보센터</button>
        <ul class="m-sub">
          <li><a href="/kr/sub/pr/notice/index.html">공지사항</a></li>
          <li><a href="/kr/sub/pr/newsroom/index.html">뉴스룸</a></li>
          <li><a href="/kr/sub/pr/gallery/index.html">갤러리</a></li>
          <li><a href="/kr/sub/pr/certification/index.html">인증 및 특허</a></li>
          <li><a href="/kr/sub/pr/catalog/index.html">카탈로그</a></li>
        </ul>
      </li>

      <li>
        <button class="m-item">고객지원</button>
        <ul class="m-sub">
          <li><a href="/kr/sub/support/inquiry/index.html">1:1 문의</a></li>
          <li><a href="/kr/sub/support/downloads/index.html">자료실</a></li>
        </ul>
      </li>
    </ul>

  </div>
</div>
